<!--
    Under that section, user must be identified.
    Identification information are then stored in the store and available in the whole application.
-->
<script>
    import { goto } from "@roxi/routify";
    import { user } from "../_store.js";

    // This layer should be stored under `src/pages/<active_version>/_layout.svelte`
    // We are declaring and scoping that version for all sub-folder as a "default".
    const active_version = "v1";
</script>

{#if $user.token}
    <slot scoped={{ version: active_version }} />
{:else}
    {$goto("/login", {}, true)}
{/if}
