<script>
  import { url } from "@roxi/routify";
</script>

<div class="e404">
  <div class="huge">404</div>
  <div class="big">
    <img
      src="../../memory_rpg_logo_dark_niveaux_gris.png"
      alt="black & white logo"
      width="30px"
      height="30px"
    />
    Seems we lost that page from our server Memories !
    <img
      src="../../memory_rpg_logo_dark_niveaux_gris.png"
      alt="black & white logo"
      width="30px"
      height="30px"
    /><br />
    <!-- link to the parent folder of _fallback.svelte -->
    <a href={$url("/")}>Go back to safe zone !</a>
  </div>
</div>

<style>
  .huge {
    font-size: 12rem;
  }
  .e404 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
