<script>
  import { url } from "@roxi/routify";
  import FaRegUserCircle from "svelte-icons/fa/FaRegUserCircle.svelte";
  import IoIosLogOut from "svelte-icons/io/IoIosLogOut.svelte";
  import GameAccess from "./v1/_components/GameAccess.svelte";
  import Login from "./v1/_components/Login.svelte";
  import { getGames } from "./v1/_utils/query_manager";
  import { user } from "./_store.js";

  // Extract games list as preview (access will need authentication)
  let promise_games = getGames();
</script>

<main>
  <h1>
    {#if $user.name}
      Welcome back {$user.name} !
    {:else}
      Welcome to Memory RPG !
    {/if}
  </h1>

  <div class="wrapper">
    <div class="box-app-style" id="game-list">
      <h2 class="box-title-app-style">All games</h2>
      {#await promise_games}
        Loading games
      {:then games}
        <ul>
          <li>
            <div class="game-el">
              {#each games as game}
                <a href={$url("/v1/games/" + game.id)}>
                  <GameAccess {...game} />
                </a>
              {/each}
            </div>
          </li>
        </ul>
      {:catch error}
        was not able to get games : {error.message}
      {/await}
    </div>
    <div id="login-box" class="box-app-style">
      {#if $user.token}
        <h2 class="box-title-app-style">
          Your games
          <span id="user-icons">
            <a class="icon" href={$url("/v1/users/me")}>
              <FaRegUserCircle />
            </a>
            <span id="icon-sep" class="icon">|</span>
            <a id="logout-button" class="icon" href={$url("/logout")}>
              <IoIosLogOut />
            </a>
          </span>
        </h2>

        {#await promise_games}
          Loading games
        {:then games}
          <ul>
            <li>
              <div class="game-el">
                {#each games as game}
                  <a href={$url("/v1/games/" + game.id)}>
                    <GameAccess {...game} />
                  </a>
                {/each}
              </div>
            </li>
          </ul>
        {:catch error}
          was not able to get games : {error.message}
        {/await}
      {:else}
        <Login />
      {/if}
    </div>
  </div>
</main>

<style>
  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  #game-list {
    min-width: 66%;
  }

  #login-box {
    min-width: 300px;
  }

  .game-el {
    min-width: fill-available;
  }

  @media (max-width: 1000px) {
    ul {
      flex-direction: column;
    }
  }

  #login-box #user-icons {
    position: relative;
    float: right;
  }
  #icon-sep {
    padding-right: 0;
    text-align: center;
    font-size: 24px;
    color: #ff3e00;
  }
</style>
