<script>
  export let id;
  import GameAccess from "../../_components/GameAccess.svelte";
  import MemoryDiscover from "../../_components/MemoryDiscover.svelte";
  import MemoryQuickView from "../../_components/MemoryQuickView.svelte";
  import NavBar_Game from "../../_components/NavBar_Game.svelte";
  import PlayerCard from "../../_components/PlayerCard.svelte";
  import PlayerQuickView from "../../_components/PlayerQuickView.svelte";
  import {
    getGameById,
    getMemoriesMe,
    getPlayers,
    getPlayersMe,
  } from "../../_utils/query_manager";

  export let scoped;

  let promise_game = getGameById(id);
  let promise_players = getPlayers(id);
  let promise_me = getPlayersMe(id);
  let promise_memories = getMemoriesMe(id);

  /**
   * Called method on "discover" event to refresh memory list.
   * @param event Unused.
   */
  function refreshMemoriesMe(event) {
    promise_memories = getMemoriesMe(id);
  }
</script>

{#await promise_game}
  Loading game informations...
{:then game}
  {#await promise_me}
    Loading game informations...
  {:then player}
    <NavBar_Game
      game_name={game.name}
      game_is_active={!game.end_date_timestamp}
      player_name={player.character_name}
      player_role={player.player_type}
      version={scoped.version}
    />
  {:catch error}
    Impossible to get current player information: {error.message}
  {/await}
{:catch error}
  Impossible to get game information: {error.message}
{/await}
<main>
  <div id="game-screen-body">
    <ul>
      {#await promise_me}
        Loading current player informations...
      {:then player_me}
        <li>
          <div class="box box-app-style">
            <h2 class="box-title-app-style">My details</h2>
            <PlayerCard
              name={player_me.character_name}
              status={player_me.player_status}
            />
          </div>
        </li>
      {:catch error}
        Impossible to get current player information: {error.message}
      {/await}
      <li>
        <div class="box box-app-style">
          <div class="box-title">
            <h2 class="box-title-app-style">
              My memories
              <span class="memories">
                {#await promise_memories then memories}
                  {Object.keys(memories).length}
                {:catch}
                  0
                {/await}🧠
              </span>
            </h2>
          </div>
          <div id="discover-memory">
            <MemoryDiscover on:discovery={refreshMemoriesMe} game_id={id} />
          </div>
          {#await promise_memories}
            Loading current player informations...
          {:then memories}
            {#if memories.length > 0}
              <ul>
                <li>
                  <div>
                    {#each memories as memory}
                      <MemoryQuickView
                        game_id={id}
                        id={memory.id}
                        blurred_timestamp={memory.blurred_timestamp}
                      />
                    {/each}
                  </div>
                </li>
              </ul>
            {:else}
              <i>Nothing has been discovered yet !</i>
            {/if}
          {:catch error}
            Impossible to get current player memories : {error.message}
          {/await}
        </div>
      </li>
      <li>
        <article class="box box-app-style">
          <h2 class="box-title-app-style">Game informations</h2>
          <div>
            {#await promise_game}
              Loading game informations...
            {:then game}
              <GameAccess {...game} />
            {:catch error}
              Impossible to get game information: {error.message}
            {/await}
          </div>
          <article>
            {#await promise_players}
              Loading players informations...
            {:then players}
              {#each players as player}
                <PlayerQuickView {...player} />
              {/each}
            {:catch error}
              Impossible to get players information: {error.message}
            {/await}
          </article>
        </article>
      </li>
    </ul>
  </div>
</main>

<style>
  .box {
    margin-right: 20px;
    margin-right: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
  }

  li {
    flex: 1;
    min-width: 200px;
    display: flex;
  }

  @media (max-width: 700px) {
    ul {
      flex-direction: column;
    }
  }

  .memories {
    float: right;
  }

  #discover-memory {
    padding-right: 20px;
    padding-left: 20px;
  }
</style>
