<script>
  import { url } from "@roxi/routify";
  import { getUserMe } from "../../_utils/query_manager";

  let promise_userProfile = getUserMe();
</script>

{#await promise_userProfile}
  Accessing your profile information...
{:then value}
  Bonjour {value["user_name"]} !
{:catch error}
  🤷 An error occured while getting you user profile informations : {error.message}
{/await}
<br />
<br />
<a href={$url("/")}>Back to home</a>
