<script>
  import { Router } from "@roxi/routify";
  import { onMount } from "svelte";
  import { routes } from "../.routify/routes";
  import { user } from "./pages/_store";

  // When starting the application we link the "user" content with the local storage to persist it.
  onMount(() => {
    user.useLocalStorage();
  });
</script>

<Router {routes} />

<style>
  /** Write GLOBAL (but very app specific) CSS here. */

  /** ======= Box style building page logic =======*/
  :global(.box-app-style) {
    min-width: -webkit-fill-available;
    min-width: fill-available;
    margin: 0 auto;
    border-radius: 2px;
    display: left;
  }

  :global(.box-title-app-style) {
    text-align: left;
    font-weight: lighter;
    border-bottom: 1px solid #ff3e00;
  }

  /** ======= List items styling declared in a component =======*/
  /** Article tag wrapping whole component. */
  :global(.art-compo-app-style) {
    background-color: #303030;
    border-radius: 4px;
    padding: 0.5em;
    margin-bottom: 5px;
  }

  /** Element title. */
  :global(.art-compo-app-h3) {
    margin: 0 0 0.5rem;
    border-bottom: 1px solid #000000;
    text-align: left;
    font-weight: lighter;
  }

  :global(.justified-content) {
    text-align: justify;
  }

  /** ======= Labels styling (player status, role, ...) =======*/

  :global(.player_role) {
    font-weight: bold;
    background-color: #303030;
    border-radius: 25px;
    position: relative;
    top: -3px;
  }

  :global(.GM) {
    border: 1px solid rgb(22, 172, 22);
    color: rgb(22, 172, 22);
  }
  :global(.PC) {
    border: 1px solid rgb(0, 121, 231);
    color: rgb(0, 121, 231);
  }
  :global(.NPC) {
    border: 1px solid orangered;
    color: orangered;
  }

  /**Player status label shape & color. */
  :global(.player_status) {
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    max-width: fit-content;
  }

  :global(.GOOD) {
    border: 1px solid rgb(22, 172, 22);
    color: rgb(22, 172, 22);
    font-weight: normal;
  }
  :global(.GOOD_pre) {
    border: 1px solid rgb(22, 172, 22);
    background-color: rgb(22, 172, 22);
    color: white;
    border-radius: 25px;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }

  :global(.INJURED) {
    border: 1px solid rgb(221, 131, 13);
    color: rgb(221, 131, 13);
    font-weight: normal;
  }
  :global(.INJURED_pre) {
    border: 1px solid rgb(221, 131, 13);
    background-color: rgb(221, 131, 13);
    color: white;
    border-radius: 25px;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }

  :global(.BAD) {
    border: 1px solid rgb(202, 14, 14);
    color: rgb(202, 14, 14);
    font-weight: normal;
  }
  :global(.BAD_pre) {
    border: 1px solid rgb(202, 14, 14);
    background-color: rgb(202, 14, 14);
    color: white;
    border-radius: 25px;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }
</style>
