html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: rgb(210, 210, 210);
	background-color: #000000;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size:16px;
}

main{
	padding: 8px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size:38px;
}

h2 {
	font-size:30px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/** Base rule set for icons in the application : can be overriden in later styles sheets. */
.icon {
    width: 24px;
    height: 24px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
