<!--A footer component for the application which should be called at the end of a page declaration.-->
<script>
    import { url } from "@roxi/routify";
</script>

<div id="footer">
    <a href="https://framagit.org/memory-rpg">Our Framagit</a> |
    <a href={$url("/about")}>About Memory RPG</a> |
    <a href="mailto:developermemoryrpg@gmail.com?subject=[Memory-RPG] "
        >Contact us</a
    >
</div>

<style>
    #footer {
        margin-top: 75px;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    a {
        color: rgb(15, 181, 236);
    }
    a:hover {
        text-decoration: underline;
    }
</style>
