<!--This components present a Game public informations (title, description, etc.).-->
<script>
    export let id;
    export let name;
    export let start_date_timestamp;
    export let end_date_timestamp;
    export let is_mood_color_impacting;
    export let is_player_status_impacting;
    import FaCircleNotch from "svelte-icons/fa/FaCircleNotch.svelte";
    import FaRegCheckCircle from "svelte-icons/fa/FaRegCheckCircle.svelte";
    import FaRegCircle from "svelte-icons/fa/FaRegCircle.svelte";
    import { formatTimestampToString } from "../_utils/datetime";
</script>

<article class="art-compo-app-style">
    <div>
        <h3 class="art-compo-app-h3">
            {#if start_date_timestamp}
                {#if end_date_timestamp}
                    <span class="icon inactive-game">
                        <FaRegCheckCircle />
                    </span>
                {:else}
                    <span class="icon active-game">
                        <FaCircleNotch />
                    </span>
                {/if}
            {:else}
                <span class="icon inactive-game">
                    <FaRegCircle />
                </span>
            {/if}
            <slot name="name">
                {#if name}
                    <span> {name}</span>
                {:else}
                    <span class="missing">No title</span>
                {/if}
            </slot>
        </h3>
    </div>
    <div class="information">
        <slot>
            {#if start_date_timestamp}
                From {formatTimestampToString(start_date_timestamp, false)}
                {#if end_date_timestamp}
                    to {formatTimestampToString(end_date_timestamp, false)}
                {:else}
                    <span class="missing">(in progress)</span>
                {/if}
            {:else}
                <span class="missing">No started yet</span>
            {/if}
        </slot>
    </div>
</article>
<br />

<style>
    .active-game {
        color: greenyellow;
    }

    .inactive-game {
        color: rgb(173, 173, 173);
    }

    .information {
        text-align: left;
    }

    .missing {
        color: #999;
    }
</style>
