<!--Login component including all user's informations storage updated (token, username, ...). Usually, it should be called in a _layout.svelte file. -->
<script>
  import { goto } from "@roxi/routify";
  import { user } from "../../_store.js";
  import { getToken, getUserMe } from "../_utils/query_manager";

  async function login(e) {
    let userInfo = {};

    // get a jwt token against server using authent form credentials
    const formData = new FormData(e.target);
    const data = {};
    for (let field of formData) {
      const [key, value] = field;
      data[key] = value;
    }

    const response_token = await getToken(formData);
    userInfo.token = response_token["access_token"];
    user.set(userInfo);

    // make user info available globally
    const response_user = await getUserMe();
    userInfo.id = response_user["id"];
    userInfo.name = response_user["user_name"];
    // update user with id & name
    user.set(userInfo);

    // finally, move back to the page which asked login
    $goto(window.location.href);
  }
</script>

<article>
  <div id="login-component">
    <h2 class="box-title-app-style">Sign in to Memory RPG</h2>
    <form on:submit|preventDefault={login}>
      <div id="first-form-el" class="form-el">
        <label for="name">Username</label>
        <input type="text" id="username" name="username" value="" />
      </div>
      <div class="form-el">
        <label for="name">Password</label>
        <input type="password" id="password" name="password" value="" />
      </div>
      <button id="last-form-el" class="form-el" type="submit">Sign in</button>
    </form>
    <br />
    <div id="create-account-link">
      <p>
        First time here? <a href="/create-account"> Create an account. </a>
      </p>
    </div>
  </div>
</article>

<style>
  #login-component {
    margin: auto;
    max-width: fit-content;
    text-align: center;
  }

  form {
    border-radius: 5px;
    border: 1px solid #303030;
    background-color: #303030;
  }

  #first-form-el {
    margin-top: 10px;
  }

  #last-form-el {
    margin-bottom: 10px;
  }

  form label,
  form input,
  form button {
    min-width: fill-available;
  }

  .form-el {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  label {
    text-align: left;
  }

  input {
    background-color: black;
    color: inherit;
  }

  button {
    background-color: #238636;
    color: inherit;
    border: 0;
  }

  #create-account-link {
    border-radius: 5px;
    border: 1px solid #303030;
  }

  a {
    color: rgb(15, 181, 236);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
