<!--
    This components show memories information, including a "memory text content" preview.
    Current user will need to be authorized for that component to work correctly.
-->
<script>
    import { formatTimestampToString } from "../_utils/datetime";
    import { getMemoryContent } from "../_utils/query_manager";
    export let game_id;
    export let id;
    export let blurred_timestamp = 0;

    let promise_memory = getMemoryContent(game_id, id);
</script>

<article class="art-compo-app-style">
    <a href={"/v1/memories/" + id}>
        <div class="memorytitle">
            🧠
            <div class="discovered">
                Discovered on
                <i>
                    {formatTimestampToString(blurred_timestamp)}
                </i>
            </div>
        </div>
        <div class="justified-content">
            {#await promise_memory}
                Fetching memory content
            {:then memory}
                <p>
                    {memory
                        .substring(1, memory.length)
                        .replace("\\n", "")
                        .substring(0, 300) + " ... "}
                    <i style="float:right;">(Click to read more)</i>
                </p>
            {:catch error}
                Impossible to get memory content: {error.message}
            {/await}
        </div>
    </a>
</article>

<style>
    .memorytitle {
        min-width: 100%;
        height: fit-content;
        border-bottom: 1px dotted grey;
        text-align: left;
    }

    .discovered {
        height: fit-content;
        float: right;
    }
</style>
