<!--Component including the html related to the Memory Discovery mechanic (see project documentation for more details about it).-->
<script>
  import { createEventDispatcher } from "svelte";
  import IoMdHelpCircleOutline from "svelte-icons/io/IoMdHelpCircleOutline.svelte";
  import { postMemoriesDiscover } from "../_utils/query_manager";
  export let game_id;

  let itemCode = "";

  // Allows an event to be sent over the app when a new memory is added
  const dispatch = createEventDispatcher();

  /**
   * Will try to discover a new memory.
   * If succeed : propagate the event to other component (for possible refresh). If failure : show an error message.
   * Linked with button call + input containing the item code.
   */
  async function discoverMemory() {
    const result = await postMemoriesDiscover(game_id, itemCode);

    if (typeof result !== "number") {
      alert(
        "Either there is no item associated with code " +
          itemCode +
          " or you have no permission to access it."
      );
    } else {
      dispatch("discovery", {
        text: result,
      });
    }

    // finally, clean-up.
    itemCode = "";
  }
</script>

<article>
  <div id="memory-discover">
    <input placeholder="Ask your GM 🙏🏽" bind:value={itemCode} />
    <button disabled={itemCode == ""} on:click={discoverMemory}>
      Discover a memory
    </button>
    <span class="icon">
      <IoMdHelpCircleOutline />
    </span>
  </div>
</article>

<style>
  #memory-discover {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  #memory-discover input {
    width: 50%;
  }

  #memory-discover button {
    width: 30%;
    background-color: #238636;
    color: inherit;
    border: 0;
  }

  #memory-discover button:disabled {
    background-color: grey;
  }

  #memory-discover .icon {
    width: 30px;
    height: 30px;
  }
</style>
