<!-- Navbar is a header bar in the application. Usually, it should be called in a _layout.svelte file. -->
<script>
    import { url } from "@roxi/routify";
    import FaRegUserCircle from "svelte-icons/fa/FaRegUserCircle.svelte";
    import IoIosLogOut from "svelte-icons/io/IoIosLogOut.svelte";
    import IoMdHelpCircle from "svelte-icons/io/IoMdHelpCircle.svelte";
    import MdHome from "svelte-icons/md/MdHome.svelte";
    const _labels = { GM: "Game Master", PC: "Player", NPC: "Not a player" };
    export let game_name;
    export let game_is_active;
    export let player_name;
    export let player_role;
    export let version;
</script>

<article id="header-bar">
    <div id="header-bar-content">
        <span id="game-name">{game_name} ></span>
        <span id="game-userinfo">{player_name}</span>
        &nbsp;&nbsp;
        <span class={"player_role " + player_role}>
            &nbsp;&nbsp;{_labels[player_role]}&nbsp;&nbsp;
        </span>
        <span id="links">
            <a class="icon" href={$url("/")}>
                <MdHome />
            </a>
            <a class="icon" href={$url("/" + version + "/users/me")}>
                <FaRegUserCircle />
            </a>
            <a class="icon" href={$url("/about")}>
                <IoMdHelpCircle />
            </a>
            <a id="logout-button" class="icon" href={$url("/logout")}>
                <IoIosLogOut />
            </a>
        </span>
    </div>
</article>

<style>
    #header-bar {
        border-bottom: 1px solid #ff3e00;
        background-color: #303030;
    }

    #header-bar-content {
        padding: 0.4em;
    }

    #game-name {
        text-transform: uppercase;
        font-size: 30px;
    }

    #game-userinfo {
        font-weight: lighter;
        font-size: 30px;
    }

    #header-bar #links {
        float: right;
        position: relative;
        top: 7px;
    }

    #logout-button {
        border-left: solid 1px #ff3e00;
        padding-left: 10px;
        margin-left: 10px;
    }
</style>
