<!-- Show the detailled information of an user related to a game. -->
<script>
    import FaCircleNotch from "svelte-icons/fa/FaUserAltSlash.svelte";
    export let name;
    export let status;
    export let playerNotes = "";
</script>

<article>
    <div>
        <ul>
            <li class="profilepicture">
                <FaCircleNotch />
            </li>
            <li class="playerinfo">
                <article>
                    <h3 class="art-compo-app-h3">{name}</h3>
                    <span class={"player_status " + status}>
                        <span class={status + "_pre"}>
                            &nbsp;Status&nbsp;
                        </span>
                        <span>
                            {status}&nbsp;
                        </span>
                    </span>
                </article>
            </li>
        </ul>
    </div>
    <div class="justified-content">
        <p>
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que
            survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
            par son inclusion dans des applications de mise en page de texte,
            comme Aldus PageMaker.
        </p>
    </div>
    <textarea
        rows="10"
        cols="1"
        placeholder="Add your in-game notes here !"
        id="playernotes">{playerNotes}</textarea
    >
</article>

<style>
    .profilepicture {
        border-radius: 5px;
        border: 1px solid #303030;
        background-color: #303030;
        min-width: 150px;
        max-width: 150px;
        height: 200px;
    }

    .playerinfo {
        padding-left: 20px;
        text-align: left;
    }

    #playernotes {
        min-width: 100%;
        max-width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 auto;
    }

    li {
        flex: 1;
        min-width: 200px;
        display: flex;
    }
</style>
