<!--
    This components present a quick view of a player. It is meant to be used a "list of players" view.
    Informations provided are very light (name, status, few stats)
-->
<script>
    export let id;
    export let character_name;
    export let player_status;
    export let nbOfDiscoveredMemories = 0;
</script>

<article class="art-compo-app-style">
    <div class="player_name">
        <h3 class="art-compo-app-h3">{character_name}</h3>
    </div>
    <div class="player_details">
        {#if player_status}
            <!--Double class-->
            <span class={"player_status " + player_status}>
                <span class={player_status + "_pre"}> &nbsp;Status&nbsp; </span>
                <span>
                    {player_status}&nbsp;
                </span>
            </span>
        {/if}
        <span class="memories">{nbOfDiscoveredMemories} 🧠</span>
    </div>
</article>

<style>
    .player_details {
        padding: 5px;
        text-align: left;
    }

    .memories {
        float: right;
    }
</style>
